<div class='my-profile'>
  <div class='profile'>
    <div class="profile-params">
    <%= image_tag @user.avatar.url(:thumb) %><br>
    <strong> name: </strong><br>
    <%= @user.name %><br>
    <strong> email: </strong><br>
    <%= @user.email %><br>
    </div>
    <%= link_to "Edit", edit_user_path(@user), :class => 'btn btn-md btn-primary'%>
  </div>
</div>

