<div class='my-profile'>
  <div class='profile'>
    <div class="profile-params">
    <strong> name: </strong><br>
    <%= @user.name %><br>
    <strong> email: </strong><br>
    <%= @user.email %><br>
    </div>
  </div>
</div>
