
<h1>Home Page</h1>
<p>side bar with: <%= link_to 'Profile', my_profile_path %> and <%= link_to 'my activities', my_activities_path %> </p>
<%= link_to 'Activities', activities_path %>
<p>link to locations</p>
