// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-form {
  float: none;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-color: black;
  background-color: rgba(255,255,255,0.6);
  border-radius: 15px;
  padding-top: 10px;
  text-align: center;
}
.signup-button {
  margin-top: 78px;
}
.login-params {
  margin-top: 50px;
}
