<body>
  <div class='title'>
    <h1>My Activities</h1>
  </div>
  <div class ='activity-table'>
    <table class='table table-responsive'>
      <tr>
      <th>Name</th>
      </tr>
      <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.name, activity_path(activity) %></td>
       <% end %>
      </tr>
   </table>
  </div>
  <%= link_to 'New Activity', new_activity_path, :class => 'btn btn-md btn-primary'%>
</body>



