

<%= link_to 'Create Activity', new_activity_path %>

 <ul>My Activities
     <% @activities.each do |activity| %>
         <li>
             <strong> <%= activity.name %> </strong> - <%= activity.description %>
             <%= link_to "More info", activity_path(activity) %>
         </li>
     <% end %>
 </ul>


