  <%= form_for [@activity, @review] do |f| %>
    <div><%= current_user.name %> says:</div>
     <div>
         <%= f.text_field :content %>
     </div>
     <%= f.submit "Add Review!",:class => 'btn btn-md btn-primary back' %>

 <% end %>
